<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <!--<link rel="stylesheet" href="/css/main.css" />-->
    <!--<link rel="stylesheet" href="/css/boti.css" />-->
    <!--<link rel="stylesheet" href="/css/responsive.css" />-->
    <% if (device === 'desktop') {%><link rel="stylesheet" href="/css/boti-desktop.css" /><%} else if (device === 'phone') {%><link rel="stylesheet" href="/css/boti-mobile.css" /><%}%>
    <nav>
      <menu>
        <% for(var i=0; i<menu.length; i++) { if (menu[i].id === activePage) {%>
        <button onclick="location.href=location.origin + '<%=menu[i].path%>';" class="selected"><%=menu[i].text%></button>
        <%} else {%>
        <button onclick="location.href=location.origin + '<%=menu[i].path%>';"><%=menu[i].text%></button>
        <%}}%>
      </menu>
    </nav>
  </head>
  <body>
    <section>
      <div class="articleContainer">
        <div class="articleContainer-header">
          <div class="articleContainer-header-title">Scarecrow-project moving forward</div><div class="articleContainer-header-time">20 01 2019</div>
        </div>
        <div class="articleContainer-ingress">The Scarecrow-project has gotten a bit more love, parts of that being the addition to it being mobile friendly. Additionally, some more content has been added to further help running and managing a guild.</div>
      </div>
      <div class="articleContainer">
        <div class="articleContainer-header">
          <div class="articleContainer-header-title">Site officially launches</div><div class="articleContainer-header-time">01 12 2018</div>
        </div>
        <div class="articleContainer-ingress">With the final setup to the server done, and having done changes to the code so that both this page and one of the projects, Saviour, now behaves well on mobile platforms as well as desktop computers, I'm now confident in finally saying that the page is actually open. In coming time, I'll be making the Scarecrow-project mobile friendly as well. Additionally, the Saviour project should be getting some more to it than it currently has.<br><br>There is a lot of work left to be done, but as with any hobby there is no rush getting it done.</div>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script>
  </foot>
</html>
