<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/boti.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <nav>
      <menu>
        <% for(var i=0; i<menu.length; i++) {
          if (menu[i].id === activePage) {%>
          <a href="<%=menu[i].path%>"><div id="<%=menu[i].id%>" class="menu-button menu-button-selected"><div class="menu-button-text"><%=menu[i].text%></div></div></a>
        <%} else {%>
          <a href="<%=menu[i].path%>"><div id="<%=menu[i].id%>" class="menu-button"><div class="menu-button-text"><%=menu[i].text%></div></div></a>
        <%}}%>
      </menu>
    </nav>
  </head>
  <body>
    <section>
      <div class="container">
        <div class="container-group">
          <div class="container-headline">Site officially launches</div>
          <div class="container-ingress">With the final setup to the server done, and having done changes to the code so that both this page and one of the projects, Saviour, now behaves well on mobile platforms as well as desktop computers, I'm now confident in finally saying that the page is actually open. In coming time, I'll be making the Scarecrow-project mobile friendly as well. Additionally, the Saviour project should be getting some more to it than it currently has.<br><br>There is a lot of work left to be done, but as with any hobby there is no rush getting it done.</div>
        </div>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/mobile.js"></script>
    <script src="/js/main.js"></script>
  </foot>
</html>
