<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/boti.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <nav>
      <menu>
        <% for(var i=0; i<menu.length; i++) {
          if (menu[i].id === activePage) {%>
          <a href="<%=menu[i].path%>"><div id="<%=menu[i].id%>" class="menu-button menu-button-selected"><div class="menu-button-text"><%=menu[i].text%></div></div></a>
        <%} else {%>
          <a href="<%=menu[i].path%>"><div id="<%=menu[i].id%>" class="menu-button"><div class="menu-button-text"><%=menu[i].text%></div></div></a>
        <%}}%>
      </menu>
    </nav>
  </head>
  <body>
    <section>
      <div class="container">
        <% for (var i = 0; i < projects.length; i++) {%>
          <a href="<%=projects[i].link%>" target="_blank"><div class="container-group"><div class="container-headline"><%=projects[i].name%></div><div class="container-text"><%=projects[i].description%></div></div></a>
        <%}%>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/mobile.js"></script>
    <script src="/js/main.js"></script>
  </foot>
</html>
