<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/boti.css" />
    <link rel="stylesheet" href="/css/scarecrow.css" />
    <nav class="nav-sc">
      <menu class="menu-sc">
        <a href="<%=scMenu['Home'].path%>"><div class="menu-button"><div class="menu-button-icon icon-home"></div></div></a>
        <% for (var i in scMenu) {
          if (scMenu[i].menu === 1) {
            if (i == activePage) {%>
            <a href="<%=scMenu[i].path%>"><div class="menu-button menu-button-selected"><div class="menu-button-text"><%=i%></div></div></a>
          <%} else {%>
            <a href="<%=scMenu[i].path%>"><div class="menu-button"><div class="menu-button-text"><%=i%></div></div></a>
        <%}}}%>
      </menu>
    </nav>
  </head>
  <body>
    <section id="pageContainer">
      <div class="container-sc">
        <div class="container-frame">
          <div class="container-body">
            <div class="container-frame"><%=application[0].character_name%> - Level <%=application[0].character_level%> <%=application[0].character_class%> (<%=application[0].character_role%>)</div>
            <table>
              <tr>
                <th># Link to the spec:</th>
              </tr>
              <tr>
                <td><a href="<%=application[0].spec%>" target="_blank"><u><%=application[0].spec%></u></a><br><br></td>
              </tr>
              <tr>
                <th># How many of our raids will you be able to attend each week?</th>
              </tr>
              <tr>
                <td><div style="white-space: pre-wrap;"><%=application[0].raids%></div><br><br></td>
              </tr>
              <tr>
                <th># How do you prepare for each raid (progression and farm)?</th>
              </tr>
              <tr>
                <td><div style="white-space: pre-wrap;"><%=application[0].preparation%></div><br><br></td>
              </tr>
              <tr>
                <th># Why are you a vaulable asset to our raiding team?</th>
              </tr>
              <tr>
                <td><div style="white-space: pre-wrap;"><%=application[0].asset%></div><br><br></td>
              </tr>
              <tr>
                <th># Making a mistake, how do you respond to being called out on it?</th>
              </tr>
              <tr>
                <td><div style="white-space: pre-wrap;"><%=application[0].mistakes%></div><br><br></td>
              </tr>
              <tr>
                <th># Finally, is there anything else you'd like to add?</th>
              </tr>
              <tr>
                <td><div style="white-space: pre-wrap;"><%=application[0].anything_else%></div></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/sc-main.js"></script>
  </foot>
</html>
