<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/boti.css" />
    <link rel="stylesheet" href="/css/scarecrow.css" />
    <nav class="nav-sc">
      <menu class="menu-sc">
        <a href="<%=scMenu['Home'].path%>"><div class="menu-button"><div class="menu-button-icon icon-home"></div></div></a>
        <% for (var i in scMenu) {
          if (scMenu[i].menu === 1) {
            if (i == activePage) {%>
            <a href="<%=scMenu[i].path%>"><div class="menu-button menu-button-selected"><div class="menu-button-text"><%=i%></div></div></a>
          <%} else {%>
            <a href="<%=scMenu[i].path%>"><div class="menu-button"><div class="menu-button-text"><%=i%></div></div></a>
        <%}}}%>
      </menu>
    </nav>
  </head>
  <body>
    <section id="pageContainer">
      <div id="pageContainerCell" class="container-sc">
        <div class="container-frame pageMainComponent">
          <div class="container-headline">General information</div>
          <div class="container-body">
            <div class="table-container-tiny-outer">
              <div class="table-container-tiny-inner">
                <table>
                  <tr class="tr-col-4">
                    <th>Username:</th>
                    <td id="tblUsername"><i><%=user[0].user%></i></td>
                    <th>Email:</th>
                    <td id="tblEmail"><i><%=user[0].email%></i></td>
                  </tr>
                  <tr class="tr-col-4">
                    <th>Guild rank:</th>
                    <td><i><%=user[0].rankName%></i></td>
                    <% if (user[0].role === null || user[0].role === '' || user[0].role === undefined) {%>
                      <th></th>
                      <td></td>
                    <%} else {%>
                      <th>Role:</th>
                      <td><i><%=user[0].role%></i></td>
                    <%}%>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="container-foot">
            <div class="buttonRow">
              <button id="btnUpdateInfo" type="button" name="edit" value="userInfo" class="button response-button icon-edit"></button>
            </div>
          </div>
        </div>
        <% if (user[0].rank > 1) {%>
          <div class="container-frame pageMainComponent">
            <form name="frmUserCharacters" method="post" onsubmit="return scarecrow._validateUserCharacter();">
              <div class="container-headline">Characters</div>
              <div class="container-body">
                <div class="table-container-tiny-outer">
                  <div class="table-container-tiny-inner">
                    <% if ('main' in characterList) {%>
                      <table>
                        <h4>Main</h4>
                      <%for (var i in characterList['main']) {%>
                        <tr id="character_<%=characterList['main'][i].id%>" class="tr-col-3 tr-highlight">
                          <td class="charRole role<%=characterList['main'][i].role%>"></td>
                          <td class="charName"><%=characterList['main'][i].name%></td>
                          <td class="charClass clr<%=characterList['main'][i].class%>"><%=characterList['main'][i].class%></td>
                          <td><div id="btnDeleteCharacter_<%=characterList['main'][i].id%>" class="button icon-delete list-button"></div></td>
                        </tr>
                      <%}%>
                      </table>
                      <h4>Alts</h4>
                    <%}
                    if ('alt' in characterList) {%>
                      <table>
                      <%for (var i in characterList['alt']) {%>
                        <tr id="character_<%=characterList['alt'][i].id%>" class="tr-col-3 tr-highlight">
                          <td class="charRole role<%=characterList['alt'][i].role%>"></td>
                          <td class="charName"><%=characterList['alt'][i].name%></td>
                          <td class="charClass clr<%=characterList['alt'][i].class%>"><%=characterList['alt'][i].class%></td>
                          <td><div id="btnDeleteCharacter_<%=characterList['alt'][i].id%>" class="button icon-delete list-button"></div></td>
                        </tr>
                      <%}%>
                      </table>
                    <%}%>
                  </div>
                </div>
              </div>
              <div class="container-foot">
                <div class="buttonRow">
                  <button id="btnAddCharacter" type="submit" name="add" value="character" class="response-button icon-add"></button>
                </div>
              </div>
            </form>
          </div>
        <%}%>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/sc-main.js"></script>
  </foot>
</html>
